<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="../img/yong-qin.jpg" width=200px>
    {{>footer}}

</body>

</html>